body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('https://cdn.pixabay.com/photo/2023/08/08/10/50/hot-wheels-8177051_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 850px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  background: whitesmoke;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  max-width: 300px;
  width: 100%;
}

.search-container {
  text-align: left;
  margin: 20px 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-container input {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.search-container input:focus {
  border-color: black;
  outline: none;
}

.dark-yellow-background {
  background-color: #FFD700; /* Amarelo escuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1, h2, p {
  padding-left: 20px;
}

#botao-comprar {
  margin-left: 20px;
}